div#login
  p
    span Username 
    input#username(type="textbox")
  p
    span Password 
    input#password(type="password")
  p
    input#login_button(type="button", value="Login")
div#renderer
div#chat
div#chat_box
  input#chat_box_input(type="textbox")
script(type="text/javascript")
  var tenchi_client = new TenchiClient();
  
  // display stats
  var stats = new Stats();
  stats.domElement.style.position = 'absolute';
  stats.domElement.style.top = '0px';
  $("body").append(stats.domElement);
