!!! 5
html(lang="en")
  head
    title="Tenchi"
    link(href="/css/tenchi.css", rel="stylesheet", type="text/css")
    script(src="/socket.io/socket.io.js", type="application/javascript")
    script(src="/javascript/jquery.js", type="application/javascript")
    script(src="/javascript/Three.js", type="application/javascript")
    script(src="/javascript/Stats.js", type="application/javascript")
    script(src="/javascript/tenchi-engine.js", type="application/javascript")
    script(src="/javascript/tenchi-renderer.js", type="application/javascript")
    script(src="/javascript/tenchi-client.js", type="application/javascript")
  body
    div#content!= body
