div#renderer
div#chat
div#chat_box
  input#chat_box_input(type="textbox")
script(type="text/javascript")
  var wakusei_client = new WakuseiClient();
  var wakusei_renderer = new WakuseiRenderer();
  var stats = new Stats();
