div#renderer
div#chat
div#chat_box
  input#chat_box_input(type="textbox")
script(type="text/javascript")
  var tenchi_client = new TenchiClient();
  //var tenchi_renderer = new TenchiRenderer();
  var stats = new Stats();
