!!! 5
html(lang="en")
  head
    title="Wakusei"
    link(href="/css/wakusei.css", rel="stylesheet", type="text/css")
    script(src="/socket.io/socket.io.js", type="application/javascript")
    script(src="/javascript/jquery.js", type="application/javascript")
    script(src="/javascript/Three.js", type="application/javascript")
    script(src="/javascript/Stats.js", type="application/javascript")
    script(src="/javascript/wakusei-engine.js", type="application/javascript")
    script(src="/javascript/wakusei-renderer.js", type="application/javascript")
    script(src="/javascript/wakusei-client.js", type="application/javascript")
  body
    div#content!= body
